.character-card{
    background-color: lightgrey;
    margin: 25px 25px 25px 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(42, 215, 215);


}

.character-card:hover{
    box-shadow: 0px 0px 100px #f254ff;
    opacity: 0.9;
}

.gender-tag{
    font-size: 20px;
    font-style: italic;
}

