header {
    display: flex;
    flex-direction: row;
}
a {
    font-size:22px;
    padding-left: 15px;
    padding-right: 15px;
    color: lightgrey;
}

nvvlink a {
    font-size:30px;
    padding-left: 15px;
    padding-right: 15px;
}

.Row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    /*padding-bottom: 20px;*/
    background-color: #181717;
    color: lightgrey;

    width: 100%;
    position: fixed;

}

header #rm-logo{
    display: flex;
    height: 2.5rem;
   /* margin-top: 1.5%;*/
    margin-right: 1%;
    background-color: lightgrey;
    border-radius: 100%;
}

.Row2 {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*align-content: center;*/
    justify-content: right;
    padding-top: 50px;



    width: 100%;
    position: fixed;

}

.L1 {
    padding-left: 50;
}
.L2 {
    padding-left: 50;

}
.L3 {
    padding-left: 50;
}