header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    /*padding-bottom: 20px;*/
    background-color: #181717;
    color: lightgrey;
    position: fixed;
    width: 100%;
    z-index: 3;

}

#rm-logo{
    display: flex;
    height: 2.5rem;
   /* margin-top: 1.5%;*/
    margin-right: 1%;
    background-color: lightgrey;
    border-radius: 100%;
}