header{
    display: flex;
    justify-content: center;
    height: 60px;
    padding-bottom: 20px;
    background-color: #181717;
    color: lightgrey;
}

#rm-logo{
    display: flex;
    height: 2.5rem;
    margin-top: 1%;
    margin-right: 1%;
    background-color: lightgrey;
}